#section-about {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

  .main-content {
    > img {
    }

    .section-title {
      h1 {
      }

      div {
      }
    }
  }

  .container {
    display: grid;
    grid-template: '1 2' '3 4';
    gap: 24px;
    padding: 24px;
    margin: 0 auto;

    .values-box {
      display: flex;

      .img-values {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .box-title {
        }

        .box-description {
        }
      }
    }
  }
}
