.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0 160px;

  img {
    width: 200px;
    padding-left: 80px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 20px;
    text-transform: uppercase;

    .nav-item {
      width: 150px;
      margin: auto;

      .nav-link {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          color: #e61919;
        }
      }
    }
  }
}
